@import './main/skills';
@import './main/me';
@import './main/formations';

main {
    
    background-image: url('../images/background.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    section {    
        padding-top: 70px;
        height: calc(100vh - 70px);
        position: relative;
    }

    >div {
        width: 100%;
        height: 100vh;
        top: 0;
        position: fixed;
        background-image: url('../images/94170.jpg');
        background-size: cover;
        visibility: hidden;
    }
        
        
    #fixed {
        visibility: visible;
    }
    
}

